.left_pannel{
    background-color: #E7ECF1;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:0px;
}

.left_pannel h1{
    position: absolute;
    top:15%;
    left: 33%;
    font-family: Sail;
    font-size: 46px;
}

/* Style des champs input uniquement */
.left_pannel input[type="email"], 
.left_pannel input[type="password"] {
    width: 80%; /* Largeur ajustée */
    max-width: 500px; /* Largeur max */
    padding: 10px; /* Espacement interne */
    border:none;
    border-radius: 5px; /* Coins arrondis pour un effet moderne */
    
    font-size: 16px; /* Taille du texte */
    text-align: left;/* Centrer le texte */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
}
.left_pannel input[type="email"]{
    margin-top:40%;
    margin-left:18%;
}
.left_pannel input[type="password"] {
    margin-left:18%;
}


/* Style du placeholder */
.left_pannel input::placeholder {
    color: #1E1E1E; /* Couleur du texte du placeholder */
    
}

.btn1{

        padding: 15px 30px;
        
        background-color: #4046C9;
        color: #ffffff;
        font-size: 0.56rem;
        cursor: pointer;
        border-radius: 50px;
        transition: all 0.4s ease;
        outline: none;
        position: relative;
        overflow: hidden;
        font-weight: bold;
        position:absolute;
        top:70%;
        left:42%;

      
      
}
.right_pannel{
    background-color: #D3E0E8;
    width: 50%;
    height: 100%;
    position: absolute;
    right:0px;
    top: 0px;

}
.right_pannel h3{
    position: absolute;
    top:28%;
    left: 31%;
    font-family: Roboto;
    font-size: 28px;
}
.btn{
    
    padding: 15px 30px;
        
    background-color: #4046C9;
    color: #ffffff;
    font-size: 0.56rem;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    position:absolute;
    top:60%;
    left:44%;
}
.right_pannel p {
    font-family: 'Tapestry', cursive; /* Application de la police Tapestry */
    font-size: 18px; /* Taille du texte */
    line-height: 1.5; /* Espacement entre les lignes */
    color: #333; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
    position:absolute;
    top: 40%;
    left:20%;
}
.right_pannel p span {
    display: block; /* Permet de mettre chaque phrase sur une nouvelle ligne */
    margin-bottom: 10px; /* Espacement entre les deux lignes */
}
.cercle{
    width: 400px; /* Largeur du cercle */
    height: 240px; /* Moitié de la hauteur pour un demi-cercle */
    background-color: #D8E5ED; /* Couleur du demi-cercle */
    border-radius: 50%; /* Arrondi uniquement en bas pour faire un demi-cercle inversé */
    position:absolute;
    left:25%;
    top:0px;
    transform: translateY(-50%);
    box-shadow: 0 0px 5px;
    overflow: hidden;
}
.cercle1{
    width: 650px; /* Largeur du cercle */
    height: 350px; /* Moitié de la hauteur pour un demi-cercle */
    background-color: #D8E5ED; /* Couleur du demi-cercle */
    border-radius: 50%; /* Arrondi uniquement en bas pour faire un demi-cercle inversé */
    position:absolute;
   left:500px;
    bottom: 0%;
    right:0%;
    transform: translateY(50%);
    box-shadow: 0 0px 5px;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.right_pannel {
        position: relative; /* Permet de contenir les éléments absolument positionnés */
        overflow: hidden; /* Cache uniquement ce qui dépasse */
        min-height: 100vh;
        position:absolute;
        left:50%;
}

